services:
    postgres:
        image: postgres:16-alpine
        container_name: postgres
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: 12345
            POSTGRES_DB: app
        ports:
            - "5433:5432"
        volumes:
            - postgres_data:/var/lib/postgresql/data
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U postgres -d app"]
            interval: 10s
            timeout: 5s
            retries: 5
    app:
        build: {
            context: ..,
            dockerfile: infra/Dockerfile
        }
        container_name: app
        ports:
            - "8080:8080"
        depends_on:
            postgres:
                condition: service_healthy
        environment:
            - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/app
            - SPRING_DATASOURCE_USERNAME=postgres
            - SPRING_DATASOURCE_PASSWORD=12345
            
volumes:
    postgres_data: